name: Visualize_MetisAAVE
on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 * * * *' # 
jobs:
  Visualize_MetisAAVE:
    runs-on: ubuntu-latest
    steps:
      - name: Check out this repo
        uses: actions/checkout@v2

      - name: Set up Python 3.9.13
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.13'

      - name: Install all necessary packages
        run: |
          pip install pandas==1.3.3 numpy matplotlib==3.5.1
      - name: Run the visualization script
        run: python scripts/visualize_MetisAAVE.py
      - name: Commit and push if content changed
        run: |-
          git config user.name "Automated"
          git config user.email "actions@users.noreply.github.com"
          git add -A
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
